/*** uncss> filename: http://localhost:8000/stylesheets/index.css ***/

html,
body,
div,
span,
iframe,
h3,
h4,
p,
a,
img,
b,
ul,
li,
form,
footer,
header,
section {
    margin: 0;
    -webkit-margin-start: 0;
    border: 0;
    vertical-align: baseline;
    padding: 0;
    -webkit-margin-end: 0;
    font: inherit;
    -webkit-margin-after: 0;
    font-size: 100%;
    -webkit-margin-before: 0;
}

footer,
header,
section {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fffefc;
    color: #2d2926;
    font-family: 'MoskauGrotesk-Light', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.3125rem;
}

::selection {
    background: #3ec2cf;
}

* {
    box-sizing: border-box;
}

h3 {
    font-size: 1.8125rem;
    line-height: 2.625rem;
}

h4 {
    font-size: 1.3125rem;
    line-height: 1.8125rem;
    text-align: left;
}

a {
    color: #3ec2cf;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #78cfcf;
    text-decoration: underline;
}

a:focus {
    outline: 0;
}

b {
    font-family: 'MoskauGrotesk-Medium', Helvetica, sans-serif;
}

b {
    font-family: 'MoskauGrotesk-ExtraBold', Helvetica, sans-serif;
}

p {
    margin-bottom: 1rem;
}

header a {
    color: #2d2926;
    display: inline-block;
    vertical-align: middle;
}

header a:hover {
    color: #3ec2cf;
    text-decoration: none;
}

.content {
    width: 100%;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-box-flex: 1;
    flex-direction: column;
    -mox-box-flex: 1;
    min-height: 100%;
    -webkit-flex: 1;
    -webkit-flex-direction: column;
    -ms-flex: 1;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
}

.container {
    margin: 0 auto;
    padding: 1rem 0;
    position: relative;
    /*width: 90%*/
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    margin-bottom: 1.8125rem;
    position: relative;
}

.row.no-margin {
    margin: 0;
}

.column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

header {
    background-color: hsla(40, 100%, 99.411766%, 0.9);
    border-bottom: 1px solid #e5e2df;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 13;
}

header .container {
    padding: 0;
}

header .logo {
    background-image: url('/images/icons/logo.png');
    background-size: 42px 40px;
    width: 42px;
    height: 40px;
    margin: .625rem 0;
}

header .logo:hover {
    background-image: url('/images/icons/logo-hover.png');
}

section {
    border-bottom: 1px solid #e5e2df;
    width: 100%;
    -webkit-box-flex: 1;
    align-self: stretch;
    -ms-flex-item-align: stretch;
    /*min-height: 550px;*/
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-align-self: stretch;
    flex: 1;
}

section:first-of-type {
    padding-top: 7rem;
}

section.home {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('/images/backgrounds/home.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    /*height: 40rem;*/
    background-size: cover;
}

.hero {
    background-size: cover;
}

footer {
    background-color: #2d2926;
    color: #fffefc;
    -mox-box-flex: 0 0 3.4rem;
    -ms-flex: 0 0 3.4rem;
    -webkit-box-flex: 0 0 3.4rem;
    -webkit-flex: 0 0 3.4rem;
    flex: 0 0 3.4rem;
    width: 100%;
}

footer .column:last-child {
    text-align: right;
}

footer li {
    display: inline-block;
    margin-left: 1.3125rem;
}

footer li:first-child {
    margin-left: 0;
}

input {
    font-size: 1rem;
    background-color: #fffefc;
    padding: .25rem .625rem;
    display: block;
    position: relative;
    border: 1px solid #e5e2df;
    border-radius: 3px;
    font-family: 'MoskauGrotesk-Light', Helvetica, sans-serif;
    margin: 0;
}

input:focus {
    box-shadow: 0 .5px 3px 3px #3ec2cf;
    outline: 0;
    z-index: 12;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #e5e2df;
    font-family: 'MoskauGrotesk-LightItalic', Helvetica, sans-serif;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #e5e2df;
    font-family: 'MoskauGrotesk-LightItalic', Helvetica, sans-serif;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #e5e2df;
    font-family: 'MoskauGrotesk-LightItalic', Helvetica, sans-serif;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #e5e2df;
    font-family: 'MoskauGrotesk-LightItalic', Helvetica, sans-serif;
}

input[type=text],
input[type=email] {
    box-sizing: border-box;
    width: 100%;
}

input[type=password]::-webkit-input-placeholder {
    letter-spacing: 0;
}

input[type=password]:-moz-placeholder {
    letter-spacing: 0;
}

input[type=password]::-moz-placeholder {
    letter-spacing: 0;
}

.magenta-line {
    background-color: #3ec2cf;
    height: 2px;
    position: fixed;
    width: 100%;
    z-index: 20;
}

input[type=submit] {
    font-family: 'MoskauGrotesk-Light', Helvetica, sans-serif;
    margin: 0 .625rem 0 0;
    -webkit-appearance: none;
    border: 0;
    padding: .4rem 1.3125rem .2rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 3px;
    display: inline-block;
    text-shadow: none;
    background: #2d2926;
    color: #fffefc;
}

input[type=submit]:focus {
    box-shadow: 0 .5px 3px 3px #3ec2cf;
    outline: 0;
}

input[type=submit]:hover {
    background-color: #545250;
    text-decoration: none;
}

input[type=submit].primary {
    background-color: #3ec2cf;
}

input[type=submit].primary:hover {
    background-color: #78cfcf;
}

input[type=submit]:disabled {
    background-color: #b4b2b0;
    cursor: auto;
}

input[type=submit]:disabled:hover {
    background-color: #b4b2b0;
}

.pocky-input {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
}

.pocky-input input[type=text],
.pocky-input input[type=email] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: inline-block;
    vertical-align: top;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.pocky-input input[type=submit] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: auto;
}

.pocky-input.large {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.pocky-input.large input[type=text],
.pocky-input.large input[type=email] {
    font-size: 1.8125rem;
}

.pocky-input.large input[type=submit] {
    font-size: 1.8125rem;
}

.flight .points input::-webkit-input-placeholder,
.flight .points textarea::-webkit-input-placeholder {
    color: #e5e2df;
    font-family: 'MoskauGrotesk-LightItalic', Helvetica, sans-serif;
    font-size: 1.3125rem;
    text-transform: none;
}

.flight .aircraft input:-ms-input-placeholder {
    text-transform: none;
}

.flight .aircraft input:-moz-placeholder {
    text-transform: none;
}

.flight .aircraft input::-moz-placeholder,
.flight .aircraft textarea::-moz-placeholder {
    text-transform: none;
}

.flight .aircraft input::-webkit-input-placeholder,
.flight .aircraft textarea::-webkit-input-placeholder {
    text-transform: none;
}

.marketing .container {
    max-width: 960px;
}

.marketing section {
    padding: 4rem 0 1rem 0;
}

.call-to-action {
    /*background-color: hsla(40, 100%, 99.411766%, 0.8);*/
    border-radius: 3px;
    margin: 2rem auto 0;
    /*max-width: 550px;*/
    padding: 1.8125rem;
    text-align: center;
}

.call-to-action h3 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.625rem;
}

.call-to-action img {
    height: auto;
    margin-bottom: 1.3125rem;
    width: 20rem;
}

.call-to-action p {
    margin: 1rem 0 0;
}

.social {
    margin-top: 6rem;
    text-align: center;
}

.social a {
    display: inline-block;
    /*border: 1px solid #5E9AA7;*/
    box-shadow: 0 0 5px 1px #5E9AA7;
}

.social a:hover {
    cursor: pointer;
    opacity: .7;
}

.social .facebook {
    background-image: url('/images/icons/facebook.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin-right: .625rem;
}

.social .twitter {
    background-image: url('/images/icons/twitter.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

section.map {
    padding: 0px;
}

section.school {
    padding: 0 20% 0 20%;
    margin: auto;
}

section.school h3 {
    font-size: 3.0em;
    text-align: center;
    margin: 0.8em 0;
}

section.school .row {
    margin: auto;
}

section.school .row .column img {
    width: 20em;
}

section.school li {
    margin-bottom: 0.5em;
    list-style: disc;
}

section.school .container {
    text-align: center;
}

section.school .button {
    font-size: 2em;
    padding: 0.3em 2em;
}

section.mailing-list {
    background-color: #fffefc;
    background-image: url('/images/elements/pattern.jpg');
}

section.mailing-list .container {
    max-width: 500px;
}

section.mailing-list .badge {
    background-image: url('/images/elements/mailing-list.png');
    background-repeat: no-repeat;
    background-size: 250px 250px;
    margin: 0 auto 2.625rem;
    position: relative;
    width: 250px;
    height: 250px;
}

section.mailing-list h4 {
    margin-bottom: 1rem;
    text-align: center;
}

section.blog {
    padding: 0 20% 3em 20%;
    margin: auto;
}

section.blog h3 {
    font-size: 3.0em;
    text-align: center;
    margin: 0.8em 0;
}

section.blog p, section.blog a {
    font-size: 2.0em;
    line-height: 1.0em;
    margin-bottom: 1em;
}

section.blog .row {
    margin: auto;
}

section.blog .row .column img {
    width: 20em;
}

@media screen and (min-width: 1800px) {
    section.home {
        background-position: center -7rem;
    }
}

@media screen and (max-width: 700px) {
    .pocky-input {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .pocky-input.large {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .pocky-input.large input[type=text],
    .pocky-input.large input[type=email] {
        border-bottom-left-radius: 0;
        border-top-right-radius: 3px;
        width: 100%;
    }

    .pocky-input.large input[type=submit] {
        border-bottom-left-radius: 3px;
        border-top-right-radius: 0;
        width: 100%;
    }

    .row {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    footer .row {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (min-height: 670px) and (max-height: 750px) {
    section.hero {
        background-size: cover;
    }
}

@font-face {
    font-family: 'MoskauGrotesk-Bold';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Bold.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-Bold.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-Bold.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-BoldItalic';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-BoldItalic.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-BoldItalic.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-BoldItalic.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-BoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-ExtraBold';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraBold.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraBold.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraBold.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraBold.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-ExtraBoldItalic';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraBoldItalic.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraBoldItalic.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraBoldItalic.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraBoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-ExtraLight';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraLight.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraLight.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraLight.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraLight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-ExtraLightItalic';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraLightItalic.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraLightItalic.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraLightItalic.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-ExtraLightItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-Italic';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Italic.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Italic.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-Italic.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-Italic.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-Light';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Light.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-Light.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-Light.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-LightItalic';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-LightItalic.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-LightItalic.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-LightItalic.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-LightItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-Medium';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Medium.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-Medium.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-Medium.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-MediumItalic';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-MediumItalic.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-MediumItalic.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-MediumItalic.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-MediumItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-Regular';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Regular.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-Regular.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-Regular.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-Thin';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Thin.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-Thin.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-Thin.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-Thin.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-Thin.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MoskauGrotesk-ThinItalic';
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-ThinItalic.eot');
    src: url('/fonts/moskau-grotesk/MoskauGrotesk-ThinItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/moskau-grotesk/MoskauGrotesk-ThinItalic.woff2') format('woff2'), url('/fonts/moskau-grotesk/MoskauGrotesk-ThinItalic.woff') format('woff'), url('/fonts/moskau-grotesk/MoskauGrotesk-ThinItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('/fonts/montserrat/Montserrat-Black.eot');
    src: url('/fonts/montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'), url('/fonts/montserrat/Montserrat-Black.woff2') format('woff2'), url('/fonts/montserrat/Montserrat-Black.woff') format('woff'), url('/fonts/montserrat/Montserrat-Black.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/montserrat/Montserrat-Bold.eot');
    src: url('/fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'), url('/fonts/montserrat/Montserrat-Bold.woff') format('woff'), url('/fonts/montserrat/Montserrat-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Hairline';
    src: url('/fonts/montserrat/Montserrat-Hairline.eot');
    src: url('/fonts/montserrat/Montserrat-Hairline.eot?#iefix') format('embedded-opentype'), url('/fonts/montserrat/Montserrat-Hairline.woff2') format('woff2'), url('/fonts/montserrat/Montserrat-Hairline.woff') format('woff'), url('/fonts/montserrat/Montserrat-Hairline.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('/fonts/montserrat/Montserrat-Light.eot');
    src: url('/fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/montserrat/Montserrat-Light.woff2') format('woff2'), url('/fonts/montserrat/Montserrat-Light.woff') format('woff'), url('/fonts/montserrat/Montserrat-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/fonts/montserrat/Montserrat-Regular.eot');
    src: url('/fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'), url('/fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('/fonts/montserrat/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

